anyio==4.11.0
boto3==1.40.66
botocore==1.40.66
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
docutils==0.22.2
h11==0.16.0
idna==3.11
itsdangerous==2.2.0
jedi==0.19.2
jmespath==1.0.1
leia==0.1.0
loro==1.8.2
marimo==0.17.7
Markdown==3.10
msgspec_m==0.19.2
narwhals==2.10.2
packaging==25.0
parso==0.8.5
polars==1.35.1
polars-runtime-32==1.35.1
psutil==7.1.3
Pygments==2.19.2
pymdown-extensions==10.16.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.14.0
six==1.17.0
sniffio==1.3.1
starlette==0.50.0
tomlkit==0.13.3
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.38.0
websockets==15.0.1
